<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= "#{yield :page_title} | " %>Francis' Blog</title>
    <%= stylesheet_link_tag "administrator", :media => "all" %>
    <%= javascript_include_tag "administrator" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  </body>
</html>
